.user-info-component{
  
    display: flex;
   
}
.whole_page{
 
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.user-cover{
    margin-top: 10px;
    width: 90%;
   border-radius: 20px;
   height: 40vh;

}
.tabs-custom{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-self: flex-start;
width: 90%;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(172, 172, 172);
margin-bottom: 20px;

}

.tab-custom{
  
    }

.tab-custom.selected{
     
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: rgb(19, 0, 68);
        
        }